.graphData {
    display: "block";
    width: "100%"; }

div#material-ui-cardContent {
    height: auto;
}

.MuiCardContent-root-49:last-child {
    padding-bottom: 24px;
    height: 500px;
}

#MuiCardContent-root-demo{
    padding-bottom: 24px;
    height: 500px;
}

#cardSpacing{
    margin: 15px;
}