@media only screen and (max-width: 768px) {
  .es-total-amount-text {
    display: none; }
  .es-total-amount-value {
    display: none; }
    .es-total-amount-value FeesEstimateCard-bigheader-212 {
      display: none;
    } }
