.radio-button-group {
    padding: 0;
  }
  
  .checkbox-root {
    width: 16px;
    margin-right: 11px;
  }
  
  .fontSize12 {
    font-size: 12px;
  }
  
  .city-picker-dialog-style {
    min-height: 180px;
    min-width: 365px;
  }
  
  @media only screen and (max-width: 768px) {
    .apply-wizard-footer button {
      width: 100% !important;
      margin: initial;
      border: none;
      margin: 10px 0px 0px -16px !important;
      /* border-radius: none !important;*/
    }
    .make-payment-footer-button {
      min-width: 427px !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      }
    .city-picker-dialog-style {
      min-width: 250px;
    }
  }
  
  #search  [class^="MuiPaper-root"] {
    overflow: scroll !important;
  }