.card-content-style {
  padding: 0;
  width: 100%;
}

.horizontal-card-main-grid {
  padding-top: 80px;
}

.bottom-button {
  border-radius: 0;
}

@media only screen and (min-width: 768px) {
  .module-card-style {
    min-height: 110px;
  }

  .horizontal-card-main-grid {
    padding-top: 24px !important;
  }
}
@media only screen and (max-width: 768px) {
  .card-content-style {
    padding-top: 25px;
    width: 100%;
    margin-bottom: 20px;
  }
  .module-card-style {
    min-height: 110px;
    padding-top: 16px;
    margin-top: 65px;
  }
  .horizontal-card-main-grid {
    padding-top: 24px !important;
  }
}
